#fileUpload {
	display: none;
}

.button {
	position: absolute;
	top: 50%;
}

.imgborder {
	width: 100%;
	border-radius: 10px;
}

.boxed {
	border: 1px solid gray;
	background-color: white;
	width: 100px;
	height: 120px;
	word-wrap:break-word;
	color: black;
	size: 9px;
}

/* For scrollbar code */
#scrollbox3 {
    overflow: auto;
    height: 100px;   
}

.track3 {
    width: 5px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 3px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 5px;
}

.spinner {
  width: 30px;
  height: 30px;
  background-color: #ffa500;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


.tagarea { 
	display: none;
	overflow: auto;
}

.tag-box {
  list-style: none;
  padding: 3px;
  margin: 0;
  display: inline-block;
  font-family: arial;
  width: 100%;
  border: 1px solid #F44336;
  border-radius: 4px;
  overflow: scroll;
  overflow-x: hidden;
}

.tag-box * {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.tag-box li {
  padding: 4px 6px;
  float: left;
  display: inline-block;
}

.tag-box li.tags {
  background: #2196F3;
  color: #fff;
  border-radius: 4px;
  margin: 4px 3px;
  position: relative;
  padding-right: 18px;
}

.tag-box li.tags .close {
  display: inline-block;
  position: absolute;
  color: #ffffff;
  width: 14px;
  height: 18px;
  padding-left: 3px;
}

.tag-box li.tags.edit .input-tag { height: auto; }

.tag-box li.tags.danger {
  background: #F00;
  opacity: 0.8;
}

.tag-box li .input-tag {
  color: #fff;
  height: 24px;
  vertical-align: middle;
  border: none;
  outline: none;
  background: none;
}

.tag-box li .input-tag:hover,
.tag-box li .input-tag:focus {
  outline: none;
  border: none;
}

